@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Lato;
  font-size: 14px;
  margin: 0px;
}

#chartdiv1, #chartdiv2 {
    width: 700px;
    height: 50%;
  border: 1px solid #ddd;
}

#charts {
  height: 100%;
  float: left;
}

#filter {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  float: left;
}